
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-tags:before { content: '\e818'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-blogger:before { content: '\f314'; } /* '' */